<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fdw.fyi</title>
    <link rel="stylesheet" href="assets/styles/style.css">
    <link rel="shortcut icon" href="assets/images/icons/favicon.png" type="image/png">
    <script src="assets/scripts/bannerParralex.js"></script>
    <script src="assets/scripts/projectList.js" defer></script>
    <script src="assets/scripts/randomBanner.js" defer></script>
</head>

<body>
    {% include header.html %}
    <main>
        <div class="title">
            <h1 class="nameTitle center">404</h1>
            <a href="./" class="center">Back to Home</a>
        </div>
    </main>
    {% include footer.html %}
</body>

</html>