<header>
    <div class="backdrop"></div>
    <div class="backdropEdge"></div>
    <div class="container">
        <button id="navTitleButton" onclick="window.location.href=`{{ '/' | relative_url }}`">
            <img src="{{ 'assets/images/icons/favicon.png' | relative_url }}">
            fdw.fyi
        </button>
        <nav>
            <button onclick="window.location.href=`{{ '/' | relative_url }}`">Home</button>
            <button onclick="window.location.href=`{{ '/about' | relative_url }}`">About</button>
        </nav>
    </div>
</header>