:root,
:root.dark {
    --light: #e9e9e9;
    --dark: #000000;

    --semi-transparent: #00000060;
    --semi-transparent-highlighted: #1f1d0060;
    --transparent: #00000000;

    --primary: hsl(197, 100%, 12%);
    --secondary: hsl(197, 50%, 35%);


    --transition-speed: 0.25s;
    --background-line: #ffffff20;
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--secondary) #000000;
}

*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
}

body {
    background-color: black;
    /* behind animated background, fallback color */
    text-shadow: #0008 0px 5px 5px;
    /* user-select: none; */
    color: var(--light);
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    line-height: 1.6;
}

header {
    animation: 1s fadeIn;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}

.construction {
    border-radius: 20px;
    margin: 40px;
}

header nav {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: min-content;
}

header nav button {
    font-family: "Source Code Pro", monospace;
    background: none;
    height: 40px;
    color: var(--light);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    border-style: none;
    width: 50%;
    font-size: 17px;
    user-select: none;
    text-decoration-style: solid;
    transition: var(--transition-speed);
    box-shadow: 0px 3px 5px 0px #00000000;
}

header nav button:hover {
    box-shadow: 0px 3px 5px 0px #0000005e;
    background-color: var(--semi-transparent);
    transform: translateY(-4px);
    cursor: pointer;
    scale: 1.01;
    transition: ease var(--transition-speed);
}

header img {
    user-select: none;
    max-width: 80px;
    top: 30px;
    bottom: 30px;
    padding: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

main {
    animation: 1s fadeIn;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 50px;
    max-width: 1200px;
    /* user-select: none; */
}

main .name {
    font-size: 100px;
    color: var(--secondary);
    margin: 0px;
    margin-top: 100px;
}

main .domain {
    z-index: -1;
    font-size: 90px;
    margin-top: -93px;
    margin-bottom: -30px;
    color: var(--light);
    animation: 1s fadeIn;
}

main p {
    color: var(--light);
    z-index: 2;
    margin-bottom: 20px;
}

.bgholder {
    position: fixed;
    z-index: -100;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 800px;
    background-image: linear-gradient(to top, var(--dark), var(--primary));
}

#buttons {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 60px;
    background-color: var(--semi-transparent);
    width: max-content;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;

    img {
        width: 40px;
        height: 40px;
        padding-inline: 5px;
        margin: 0;

        opacity: 0.6;
        transition: all var(--transition-speed) ease;
    }

    img:hover {
        cursor: pointer;
        box-shadow: none;
        transform: none;
        scale: 1.1;
        opacity: 1;
    }
}

.bg {
    width: 100%;
    height: 300%;
    scale: 3;

    background-position: center center;
    background-size: 39.65px 39.65px;
    background-image:
        linear-gradient(to right, var(--background-line) 1px, transparent 1px),
        linear-gradient(to bottom, var(--background-line) 1px, transparent 1px);

    transform: rotateX(30deg);
    animation: 6s linear infinite crawlingWall;
}

.small-name {
    font-size: 20px;
    font-weight: bold;
    animation: 1s fadeIn;
    padding-top: 20px;
}

footer {
    background-color: var(--semi-transparent);
    user-select: none;
    color: var(--light);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
}

footer p {
    color: #ffffff55;
    margin: 3px;
}

.social-links {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.social-links a {
    display: flex;
    height: fit-content;
    margin: 10px;
}

.social-links img {
    max-width: 30px;
    opacity: 0.6;
    margin: 0;
    transition: var(--transition-speed);
}

.social-links img:hover {
    scale: 1.1;
    opacity: 1;
    transition: var(--transition-speed);
}

.link-trees a {
    color: var(--light);
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.search-bar {
    font-family: "Source Code Pro", monospace;
    border-style: none;
    background-color: var(--semi-transparent);
    color: var(--light);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 0px;
    width: 60%;
    margin-right: 10px;
}

.search-bar:focus {
    outline: none;
}

#tag-filter {
    font-family: "Source Code Pro", monospace;
    border-style: none;
    background-color: var(--semi-transparent);
    color: var(--light);
    border-radius: 20px;
    padding: 10px;
    width: 30%;
}

#tag-filter option {
    background-color: var(--dark);
}

filtering {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-bottom: 30px;
}

.projects-text {
    font-size: 60px;
    color: var(--light);
    margin-bottom: 0px;
}

projects {
    /* user-select: none; */
    color: var(--light);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: fit-content;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

projects .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 0;
    width: 16%;
    margin-bottom: 60px;
    background-color: var(--semi-transparent);
    box-shadow: 0px 4px 15px 0px #00000000;
    border-radius: 20px;
    padding: 40px;
    margin: 30px;
    transition: ease var(--transition-speed);
}

.project:hover {
    box-shadow: 0px 4px 15px 0px #0000005e;
    transform: translateY(-8px);
    scale: 1.01;
    cursor: pointer;
    transition: ease var(--transition-speed);
}

.project.unfinished {
    filter: blur(1.5px) saturate(0.2);
    opacity: 0.7;
}

.project.highlighted {
    border-color: var(--spotlight-color, #deb75c);
    border-width: 5px;
    border-style: solid;
    border-radius: 0px 20px 20px 20px;
    background-color: var(--semi-transparent);
}

.project .spotlight {
    position: absolute;
    z-index: 1;
    background-color: var(--spotlight-color, #deb75c);
    color: var(--dark);
    font-size: 20px;
    text-shadow: none;
    font-weight: bold;
    padding: 2px;
    left: -5px;
    top: -60px;
    border-radius: 15px 15px 0px 0px;
    padding-inline: 15px;
}

.border {
    position: absolute;
    display: block;
    z-index: -2;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(45deg,
            transparent 20%,
            transparent 45%,
            var(--spotlight-color, #deb75c) 52%,
            var(--spotlight-color, #deb75c) 58%,
            transparent 65%,
            transparent 100%);
    background-size: 500% auto;
    left: 0;
    top: 0;
    border-radius: 0px;
    border-width: 10px;
    border-color: var(--spotlight-color, #deb75c70);

    animation: shine 15s linear infinite;
}

@keyframes shine {
    to {
        background-position: 500% center;
    }
}


.project .metadata {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

projects img {
    max-height: fit-content;
    max-width: 100%;
    align-self: center;
    border-radius: 10px;
}

projects .tags img {
    max-width: 40px;
}

projects .info .title {
    margin-bottom: 0px;
}

.about {
    color: var(--white);
    font-size: 17px;
    /* user-select: none; */
    max-width: 1000px;
    width: 90%;
    color: #fff;
    display: flex;
    flex-direction: row;

    background-color: var(--semi-transparent);
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    margin-top: 0px;
    transition: ease var(--transition-speed);
}

.about-text {
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    /* user-select: none; */
    animation: 1s fadeIn;
}

.about img {
    max-width: 30%;
    height: fit-content;
    border-radius: 10px;
    margin-right: 30px;
}

.about date {
    color: #ffffff82;
    padding-left: 5px;
    font-size: 14px;
}

.about b {
    font-size: 25px;
}

.about a,
.about a::after {
    color: var(--white);
    text-decoration: underline;
}

.contact {
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    scale: 1.2;
}

.contact .social-links {
    align-self: center;
    height: fit-content;
    padding: 0%;
    margin: 0%;
}

code {
    background-color: #333;
    border-radius: 5px;
    padding: 3px;
}

pre {
    code {
        background-color: unset;
        max-height: 500px;
    }
}

@keyframes crawlingWall {
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 40px;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 1024px) {
    header nav {
        width: 90px;
        min-width: 90px;
        padding: none;
        flex-direction: column;
        align-items: center;
    }

    header nav button {
        margin-top: 10px;
        width: 100%;
    }

    main {
        padding: 40px 0px 60px;
    }

    main .name {
        font-size: 80px;
        font-weight: 700;
        margin: 0px;
        margin-top: 70px;
    }

    main .domain {
        z-index: -1;
        font-size: 70px;
        font-weight: 700;
        margin-top: -73px;
        animation: 1s fadeIn;
    }

    .small-name{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    main p {
        color: var(--light);
        z-index: 2;
        margin-bottom: 20px;
    }

    projects {
        flex-direction: row;
        flex-wrap: wrap;
    }

    highlighted {
        width: 90%;
        height: min-content;

        img {
            max-height: fit-content;
            width: 50%;
        }

        .info {
            margin-left: 15px;
            width: 50%;
        }
    }

    .project {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        margin: 0;
        margin-bottom: 30px;
    }

    .project.highlighted {
        margin-top: 15px;
    }

    projects img {
        max-height: fit-content;
        max-width: 50%;
        align-self: center;
        margin-right: 10px;
    }

    .project .metadata {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .project .info {
        margin-right: 10px;
    }

    projects .tags img {
        max-width: 30px;
        border-radius: 5px;
    }

    projects .info .title {
        margin-bottom: 0px;
        font-size: 20px;
    }

    projects .info .description {
        font-size: 10px;
    }

    .project .spotlight {
        font-size: 17px;
        top: -50px;
    }

    filtering {
        width: 90%;
    }

    .search-bar {
        width: 50%;
        margin-right: 5px;
    }

    #tag-filter {
        width: 50%;
    }

    .about {
        flex-direction: column;
        color: var(--white);
        font-size: 13px;
        padding: 10px;
    }

    .about-text {
        font-size: 60px;
    }

    .about img {
        max-width: 70%;
        align-self: center;
        height: fit-content;
        padding-bottom: 20px;
    }

    .about date {
        color: #ffffff82;
        padding-left: 5px;
        font-size: 14px;
    }

    .about b {
        font-size: 25px;
    }

    .about a,
    .about a::after {
        color: var(--white);
        text-decoration: underline;
    }

    footer p {
        font-size: 10px;
        margin: 10px;
    }

    .social-links a {
        display: flex;
        height: fit-content;
        margin: 8px;
    }

    .social-links img {
        max-width: 25px;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact .social-links {
        flex-direction: column;
    }
}