---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fdw.fyi - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/styles/style.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ 'assets/images/icons/favicon.png' | relative_url }}" type="image/png">
    <script defer src="{{ 'assets/scripts/project.js' | relative_url }}"></script>
    <!-- Highlight JS -->
    <link rel="stylesheet" href="{{ 'assets/packages/highlightjs/highlightjs.css' | relative_url }}">
    <script src="{{ 'assets/packages/highlightjs/highlightjs.js' | relative_url }}"></script>
</head>

<body>
    <div class="banner">
        <img loading="lazy" id="projectBanner"
            src="{{ '/assets/images/covers/' | append: page.slug | append: '.png' | relative_url }}"
            alt="Project banner">
        <div class="overlay"></div>
    </div>
    {% include header.html %}
    <div class="project">
        <div class="projectHeader">
            <img class="projectNameLogo center"
                src="{{ '/assets/images/logos/' | append: page.slug | append: '.png' | relative_url }}">
            <p class="description center">{{ page.description | escape }}</p>
        </div>
        <div class="markdownOutput">
            {{ content }}
        </div>
        <div class="tableOfContents">
            <h3>Table of Contents</h3>
            <ul id="tableOfContentsList"></ul>
        </div>
    </div>
    <div id="modalContainer">
        <button id="closeModal" onclick="closeModal()">×</button>
        <img id="modalImage" src="">
    </div>
    {% include footer.html %}
</body>

</html>